.discover-block--slider {
  position: relative;
  & .slick-arrow {
    position: absolute;
    z-index: 8;
  }
}
.discover-block--container {
  position: relative;
}
.discover_next {
  right: 32px;
  top: 43%;
}
.discover_prev {
  left:32px;
  top: 43%;
}
.discover-block-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 8;

}
h1 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 88px;
  color: #FFFFFF;
}
.discover-block-btns {
  display: flex;
  gap: 32px;
}