.follow_us {
  position: relative;
  margin-top: 120px;
}
.follow_us-dec1 , .follow_us-dec2{
  position: absolute;
}

.follow_us-dec1 {
  right: 0;
  top: 112px;
}
.follow_us-dec2 {
  left: 101px;
}

.follow_us-title, .follow_us-of-title {
  text-align: center;
}
.follow_us-title {
color: #105393;
}
.follow_us-of-title {
color:#E86E6E ;
}
.follow_us-inner {
  width: 1070px ;
  margin: 0 auto;
}
.follow_ua-insta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:4px ;
  margin-bottom: 45px;
}
.icon-ins_fill {
  font-size: 32px;
  color: #FF8F8F;
}
.follow_ua-insta-id {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #105393;
}
.follow_us-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}