.meet_our_team {
  background-color: #105393;
}
.meet_our_team-title {
  color:#FFE4BB ;
  margin-bottom: 8px;
}
.meet_our_team-sub-title {
  margin-bottom: 24px;
  color:#FFE4BB ;
}
.meet_our_team-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
