.meet_our_team {
  background-color: #105393;
}
.meet_our_team-title {
  color:#FFE4BB ;
  margin-bottom: 8px;
  margin-top: 200px;
}
.meet_our_team-sub-title {
  margin-bottom: 24px;
  color:#FFE4BB ;
}
.meet_our_team-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.meet_our_team-slider {
  position: relative;
  & .slick-active .dots__item {
    color: #FFE4BB;
    text-decoration: underline 4px;
    text-underline-offset: 12px;
  }
}
.meet_our_team-slider .slick-arrow {
  position: absolute;
}
.meet_our_team-slider-prev {
  top: 50%;
  left: 80px;
}
.meet_our_team-slider-next {
  top: 50%;
  right: 80px;
}
.meet_our_team-title::before {
content: url(../img/mOt_dec.png);
right: -50px;
position: relative;
}
.dots__number {
  display: none;
}
.slider-dots {
display: flex;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #6F92B4;
gap: 64px;
justify-content: center;
position: relative;
top: -820px;
}