.our_categories-bg {
  background: #CEE8FF;
}
.our_categories {
  padding: 120px 0 ;
  position: relative;
}
.our_categories-title {
  color: #105393;
  text-align: center;
  margin-bottom: 80px;
}

.our_categories-decor {
  position: absolute;
  top: 105px;
  right: 30%;
}
.our_categories-slider--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:17px ;
  max-width: 296px;
  margin-right: 32px;
}
.our_categories-slider {
padding-left: 80px;

}