.quiet_books {
  background-color: #CEE8FF;
}
.quiet_books-inner {
  margin: calc(120/1440*100%) calc(80/1440*100%) calc((120/1440*100%) + 36px);
}

.quiet_books-descr {
  display: flex;
  justify-content: space-between;
}
h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #105393;
}
.quiet_books-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quiet_books-title {
  color: #105393;
}
.quiet_books-text {
  margin-top: 10px;
}
.books-item--title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #414249;
}
.quiet_books-item {
  display: flex;
 justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 365px;
  height: 365px;
  position: relative;
}
.books-item--wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 8px;
  border: dashed #FF8F8F 1px ;
  height: 349px;
  width: 349px;
  gap: 8px;
}
.books-item--icons {
  width: 96px;
  height: 96px;
}
.books-item--text {
  max-width: 253px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #414249 ;
  text-align: center;
}
.easy_to_carry {
  transform: translateY(106px);
}
.Sustainability {
  transform: translateY(51px);
}

.Long_lasting-products {
  transform: translateY(36px)  translateX(150px);
}
.Versatile_toys {
  transform: translateY(38px)  translateX(-152px);
}
