.retailer-stores-title {
  color: #E86E6E;
  text-align: center;
}
.retailer-stores--wrapper{
  margin: calc(120/1440*100%) calc(80/1440*100%);
}
.stores-slider-item {
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.stores-inner--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.miniQs {
  margin-left: calc(63/1280*100%);
}