.review {
  margin-top: 135px;
}
.review-item {
  padding:120px 80px 130px ;
}
.review-main--picture {
  max-width: 300px;
  margin-bottom: 40px;
}
.review-item--inner {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-sub-title {
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
margin-bottom: 18px;
}
.review-left-item {
  background-color: #FF8F8F;
}
.review-right-item {
  background-color: #CEE8FF;
}
.review-left-sub-title {
  color: #FFFFFF; 
}
.review-right-sub-title {
  color: #105393; 
}
.review-title {
  font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
text-align: center;
margin-bottom: 16px;
}
.review-title--left {
  color: #FFFFFF;
}
.review-title--right {
  color: #105393;
}
.review-text {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
}
.review-text-right {
  color: #105393;
}
.review-text-left {
  color: #FFFFFF;
}
.review-stars {
  margin-bottom: 18px;
}
