<div class="container discover-block--container">
    <div class="discover-block--slider">
        <div><img src="img/Discover-block-slider-bg.png" alt="slider item"></div>
        <div><img src="img/Discover-block-slider-bg.png" alt="slider item"></div>
        <div><img src="img/Discover-block-slider-bg.png" alt="slider item"></div>
        <div><img src="img/Discover-block-slider-bg.png" alt="slider item"></div>
        <div><img src="img/Discover-block-slider-bg.png" alt="slider item"></div>
    </div>
    <div class="discover-block-inner">
        <h1 class="discover-block-title">Discover the new way of playing</h1>
        <div class="discover-block-btns">
            <button class="discover-btn-Shop_now btn modal_window--link">Shop now</button>
            <button class="discover-btn-About_us btn">About us</button>
        </div>
    </div>
</div>
