<div class="container discover-block--container">
    <div class="discover-block--slider">
        <div><img src="img/Discover-block-slider-bg.png" alt="slider item"></div>
        <div><img src="img/Discover-block-slider-bg.png" alt="slider item"></div>
        <div><img src="img/Discover-block-slider-bg.png" alt="slider item"></div>
        <div><img src="img/Discover-block-slider-bg.png" alt="slider item"></div>
        <div><img src="img/Discover-block-slider-bg.png" alt="slider item"></div>
    </div>
    <div class="discover-block-inner">
        <h1>Discover the new way of playing</h1>
        <div class="discover-block-wraper">
            <button class="discover-btn-Shop_now">Shop now</button>
            <button class="discover-btn-About_us">About us</button>
        </div>
    </div>
</div>
