<div class="container">
  <div class="follow_us">
    <img class="follow_us-dec1" src="img/follow_us_dec1.png" alt="dec1">
    <img class="follow_us-dec2" src="img/follow_us_dec2.png" alt="dec2">
  <h1 class="follow_us-title">Follow us</h1>
  <h3 class="follow_us-of-title"> in our journey in helping children get to their full potential, one book at a time!</h3>
  <a class="follow_ua-insta" href="#">
    <img class="follow_ua-insta-img" src="" alt="">
    <span class="follow_ua-insta-id">@jollydesigns</span>
  </a> 
  </div>
</div>