<footer class="footer">
	<div class="container">
		<div class="footer-top">
			<ul class="footer-top__inner">
				<li class="footer-top__item">
					<h4>JOLLY DESIGNS Ltd.</h4>
					<p class="footer-top__content">Jolly Designs GmbH stands for unique,
						magical and wonderful toys. Our products
						range from Quiet Books, cute accessories
						for toddlers to wall decor for the <br>
						nursery.We offer high quality, innovative
						and responsible products for curious and<br>
						imaginative little minds.</p>
				</li>
				<li class="footer-top__item">
					<h4>Information</h4>
					<ul class="footer-top__content">
						<li>Terms of use</li>
						<li>Delivery</li>
						<li>Privacy and data protection</li>
						<li>Return</li>
						<li>Cancellation policy</li>
						<li>Imprint</li>
						<li>Payment methods</li>
						<li>General terms and conditions</li>
						<li>Refund Policy</li>
					</ul>
				</li>
				<li class="footer-top__item">
					<h4>About Us</h4>
					<ul class="footer-top__content">
						<li>Our History</li>
						<li>About Us</li>
						<li>Manufacturing Process</li>
						<li>Trade Fairs</li>
						<li>Quiet Books Blog</li>
					</ul>
				</li>
				<li class="footer-top__item">
					<h4>Newsletter</h4>
					<div class="footer-form">
						<input type="text" placeholder="E-mail">
					</div>
					<button class="btn footer-btn" type="submit" ><span>Subscribe</span> </button>
					<div class="footer-top--account__links">
						<div class="create-link"><a href="#">Create account</a></div>
						<div class="b2b-link"><a href="#">B2B Log-in</a></div>

					</div>
				</li>
			</ul>
		</div>
		<div class="footer-bottom">
<div class="footer-payment--links">
	<a class="payment--links---inner"	href="#"> <span class="icon-amex"></span> </a>
	<a class="payment--links---inner"	href="#"> <span class="icon-apple_pay"></span> </a>
	<a class="payment--links---inner"	href="#"><span class="icon-google_pay"></span> </a>
	<a class="payment--links---inner"	href="#"> <span class="icon-Klarna"></span> </a>
	<a class="payment--links---inner"	href="#"> <span class="icon-pay1"></span> </a>
	<a class="payment--links---inner"	href="#"><span class="icon-pay2"></span> </a>
	<a class="payment--links---inner"	href="#"><span class="icon-pay_pal"></span> </a>
	<a class="payment--links---inner"	href="#"><span class="icon-o_pay"></span></a>
	<a class="payment--links---inner"	href="#"> <span class="icon-visa"></span> </a>
</div>
			<div class="footer-Jolly--Designs"><span>© 2022, Jolly Designs</span></div>
			<div class="footer-social--links">
				<a href="#" class="social--links---inner"> <span class="icon-fb"></span></a>
				<a href="#" class="social--links---inner"> <span class="icon-twitteer"></span></a>
				<a href="#" class="social--links---inner"> <span class="icon-pinterest"></span></a>
				<a href="#" class="social--links---inner"> <span class="icon-instagram"></span></a>
				<a href="#" class="social--links---inner"> <span class="icon-shop"></span></a>
				<a href="#" class="social--links---inner"> <span class="icon-youtube"></span></a>

			</div>
		</div>
	</div>
</footer>
