<header class="header">
		<div class="container">
<div class="header-wrapper">
<div class="header-main">
	<div class="header-main--item">
		<a href="tel: +49 61729452910" class="call" >
			<span class="icon-Phone-icon main-header--icons "></span>
			<span class="phone-number"> +49 61729452910</span>
		</a>
		<div>

		<ul class="lang-choise-menu">
			<li><a class="lang-choise-item" href="#">EN</a></li>
			<ul class="lang-sub--menu">
				<li><a class="lang-choise-item " href="#">FR</a></li>
				<li><a class="lang-choise-item" href="#">DE</a></li>
			</ul>


		</ul>
		</div>
	</div>
	<div class="header-main--item">
		<img src="img/Jolly-designs-logo_3602.png" alt="Jolly-design logo" class="logo">
	</div>
	<div class="header-main--item">
		<ul class="header-main-menu">
			<li class="main-menu--item"><a href="#"><span class="icon-dundruff main-header--icons"></span></a></li>
			<li class="main-menu--item"><a href="#"><span class="icon-icon-user main-header--icons"></span></a></li>
			<li class="main-menu--item"><div class="like-counter">
				<span class="icon-heart main-header--icons"></span>
				<span class="like-counter--number">6</span>
			</div></li>
			<li class="main-menu--item"><div class="like-counter">
				<span class="icon-basket main-header--icons"></span>
				<span class="like-counter--number">2</span>
			</div></li>
		</ul>
	</div>
</div>
	<div class="header-menu">
		<ul class="header-menu--list">
			<li class="heder-menu--item">Products</li>
			<li class="heder-menu--item"><a href="#" class="menu-item--link">Child Development</a></li>
			<li class="heder-menu--item"><a href="#" class="menu-item--link">What are Quiet Books</a></li>
			<li class="heder-menu--item"><a href="#" class="menu-item--link">Blog</a></li>
			<li class="heder-menu--item">About Us</li>
			<li class="heder-menu--item">Support</li>
			<li class="heder-menu--item"><a href="#" class="menu-item--link">Where to Find Us</a></li>

		</ul>
	</div>
</div>
	</div>
</header>
