<header class="header">
	<div class="subheader">
		<div class="container">
<div class="subheader-slider--item">
	<a class="slider-inner" href="#">
		<span class="icon-icon-car"></span>
		<span class="subheader-item--text">Free shipping from 60€ (DE)</span>
	</a>
	<a class="slider-inner" href="#">
		<span class="icon-icon-hand-made"></span>
		<span class="subheader-item--text">High quality hand-mand & ethical products</span>
	</a>
	<a class="slider-inner" href="#">
		<span class="icon-icon-guarantee"></span>
		<span class="subheader-item--text">6 Months guarantee</span>
	</a>
</div>
		</div>
	</div>
	<div class="container">
		just testing my git conection
	</div>
</header>
