<header class="header">
		<div class="container">
<div class="header-wrapper">
<div class="header-main">
	<div class="header-main--item">
		<a href="tel: +49 61729452910" class="call" >
			<span class="icon-Phone-icon main-header--icons "></span>
			<span class="phone-number"> +49 61729452910</span>
		</a>
		<div class="lang-choise-menu">EN</div>
	</div>
	<div class="header-main--item">
		<img src="img/Jolly-designs-logo_3602.png" alt="Jolly-design logo" class="logo">
	</div>
	<div class="header-main--item">
		<ul class="header-main-menu">
			<li class="main-menu--item"><a href="#"><span class="icon-dundruff main-header--icons"></span></a></li>
			<li class="main-menu--item"><a href="#"><span class="icon-icon-user main-header--icons"></span></a></li>
			<li class="main-menu--item"><div class="like-counter">
				<span class="icon-heart main-header--icons"></span>
				<span class="like-counter--number">6</span>
			</div></li>
			<li class="main-menu--item"><div class="like-counter">
				<span class="icon-basket main-header--icons"></span>
				<span class="like-counter--number">2</span>
			</div></li>
		</ul>
	</div>
</div>
	<div class="header-menu"></div>
</div>
	</div>
</header>
