<div class="container">
  <div class="how-our-books-made_wrapper">
<h1 class="our-books-made_title">How our Quiet Books are made</h1>
    <div class="our-books-made_inner">
      <div class="our-books-made_item">
          <div class="our-books-made_sub-item">
              <h4 class="our-books-made_item-Of-title">Step 1</h4>
              <p class="ur-books-made_item-text books-item--text ">Lorem Ipsum is simply <br>
                  dummy text of the printing<br>
                  and typesetting industry</p>
          </div>
          <div class="our-books-made_sub-item">
              <h4 class="our-books-made_item-Of-title">Step 3</h4>
              <p class="ur-books-made_item-text books-item--text ">Lorem Ipsum is simply <br>
                  dummy text of the printing<br>
                  and typesetting industry</p>
          </div>

      </div>
      <img src="img/how_books_are_made-icon.png" alt="how_books_are_made-icon">
        <div class="our-books-made_item">
            <div class="our-books-made_sub-item">
                <h4 class="our-books-made_item-Of-title">Step 2</h4>
                <p class="ur-books-made_item-text books-item--text ">Lorem Ipsum is simply <br>
                    dummy text of the printing<br>
                    and typesetting industry</p>
            </div>
            <div class="our-books-made_sub-item">
                <h4 class="our-books-made_item-Of-title">Step 4</h4>
                <p class="ur-books-made_item-text books-item--text ">Lorem Ipsum is simply <br>
                    dummy text of the printing<br>
                    and typesetting industry</p>
            </div>
        </div>
    </div>
  </div>

</div>