<div class="meet_our_team">
  <div class="container">
    <div class="meet_our_team-slider">



      <div class="meet_our_team-slider-item">
        <h1 class="meet_our_team-title">Meet the Jolly Family!</h1>
        <span class="meet_our_team-sub-title">About our story, values & mission</span>
        <img class="mOt-slider-img" src="img/image 10.png" alt="img">
      </div>

      <div class="meet_our_team-slider-item">
        <h1 class="meet_our_team-title">Meet the Team</h1>
        <span class="meet_our_team-sub-title">About our story, values & mission</span>
        <img class="mOt-slider-img" src="img/image 10.png" alt="img">
      </div>

      <div class="meet_our_team-slider-item">
        <h1 class="meet_our_team-title">Meet the Production Team</h1>
        <span class="meet_our_team-sub-title">About our story, values & mission</span>
        <img class="mOt-slider-img" src="img/image 27.png" alt="video">
      </div>

      
    </div>
    <button class="meet_our_team-learn_more-btn btn">learn more</button>
  </div>
</div>