<div class="modal_window--container container">
  <div class="modal_window">
    <div class="modal_window__inner">
      <div class="modal-logo">
        <img src="img/Jolly-designs-logo_3602.png" alt="logo">
      </div>
      <p class="modal-offer">Get 10% on your first order!</p>
      <p class="modal-descr">Join our email list to receive updates and <br> exclusive offers</p>
      <form class="modal-forms" action="">
        <input type="text" placeholder="Your e-mail address ">
        <input type="text" placeholder="Your country">
        <button class="modal-button btn">Subscribe</button>
      </form>
    </div>
    <button class="close-btn">
      <span class="icon-close"></span>
    </button>
    
  </div>
</div>