<div class="container">
  <div class="modal_window">
    <div class="modal_window__inner">
      <img src="img/Jolly-designs-logo_3602.png" alt="logo">
      <p class="modal-offer">Get 10% on your first order!</p>
      <p class="modal-descr">Join our email list to receive updates and exclusive offers</p>
      <form class="modal-forms" action="">
        <input type="text">
        <input type="text">
        <button class="modal-button btn">Subscribe</button>
      </form>
    </div>
  </div>
</div>