<div class="our_categories-bg">
  <div class="container">
    <div class="our_categories">
      <img class="our_categories-decor" src="img/our_categories-decor.png" alt="our_categories-decor">
      <h1 class="our_categories-title">Our Categories</h1>
      <div class="our_categories-slider">


        <div class="our_categories-slider--item">
          <a class="our_categories_href" href="#"><img class="categories_img" src="img/our_categories_1.png"
              alt="categories_img"></a>
          <h3 class="our_categories_href-oftitle">Quiet Books</h3>
        </div>

        <div class="our_categories-slider--item">
          <a class="our_categories_href" href="#"><img class="categories_img" src="img/our_categories_2.png"
              alt="categories_img"></a>
          <h3 class="our_categories_href-oftitle">Mini Quiet Books</h3>
        </div>

        <div class="our_categories-slider--item">
          <a class="our_categories_href" href="#"><img class="categories_img" src="img/our_categories_3.png"
              alt="categories_img"></a>
          <h3 class="our_categories_href-oftitle">Booklets</h3>
        </div>

        <div class="our_categories-slider--item">
          <a class="our_categories_href" href="#"><img class="categories_img" src="img/our_categories_4.png"
              alt="categories_img"></a>
          <h3 class="our_categories_href-oftitle">Wooden Toys</h3>
        </div>

        <div class="our_categories-slider--item">
          <a class="our_categories_href" href="#"><img class="categories_img" src="img/our_categories_5.png"
              alt="categories_img"></a>
          <h3 class="our_categories_href-oftitle">Wall decorations</h3>
        </div>
      </div>
    </div>
  </div>
</div>