<div class="quiet_books">
    <div class="container">
        <div class="quiet_books-inner">
            <div class="quiet_books-descr">
                <h1 class="quiet_books-title">Our Quiet Books </h1>
                <h3 class="quiet_books-text">are developed by child experts to<br>
                    improve your children's fine motor<br>
                    development</h3>
            </div>
            <div class="quiet_books-items">
                <ul class="quiet_books-list">
                    <li class="quiet_books-item"></li>
                </ul>
            </div>
        </div>
    </div>
</div>