<div class="quiet_books">
    <div class="container">
        <div class="quiet_books-inner">
            <div class="quiet_books-descr">
                <h1 class="quiet_books-title">Our Quiet Books </h1>
                <h3 class="quiet_books-text">are developed by child experts to<br>
                    improve your children's fine motor<br>
                    development</h3>
            </div>
            <div class="quiet_books-items">
                <ul class="quiet_books-list">
                    <li class="quiet_books-item">
                        <div class="books-item--wrapper">
                                <img class="books-item--icons" src="img/lamp-icons.png" alt="lamp-icon" class="books-item--img">
                                <h4 class="books-item--title">Learning</h4>
                                <p class="books-item--text">Our pediatrician- <br>
                                    recommended products are a<br>
                                    great way for your children to <br>
                                    learn, enhance their fine motor <br>
                                    skills and develop their<br>
                                    imagination  </p>
                        </div>
                    </li>
                    <li class="quiet_books-item easy_to_carry">
                        <div class="books-item--wrapper">
                                <img class="books-item--icons" src="img/easy_to_carry-icon.png" alt="lamp-icon" class="books-item--img">
                                <h4 class="books-item--title">Easy to carry</h4>
                                <p class="books-item--text">Our light-weight and flexible books<br>
                                    will keep your children busy for your<br>
                                    long journeys or dinners at the<br>
                                    restaurant. </p>
                        </div>
                    </li>
                    <li class="quiet_books-item Sustainability">
                        <div class="books-item--wrapper">
                                <img class="books-item--icons" src="img/Sustainability-icon.png" alt="lamp-icon" class="books-item--img">
                                <h4 class="books-item--title">Sustainability</h4>
                                <p class="books-item--text">All of our products are plastic-<br>
                                    free and fairly produced.</p>
                        </div>
                    </li>
                    <li class="quiet_books-item Long_lasting-products">
                        <div class="books-item--wrapper">
                                <img class="books-item--icons" src="img/Long_lasting-products.png" alt="lamp-icon" class="books-item--img">
                                <h4 class="books-item--title">Long-lasting products</h4>
                                <p class="books-item--text">Our high-quality products can<br>
                                    be passed on from generation<br>
                                    to generation</p>
                        </div>
                    </li>
                    <li class="quiet_books-item Versatile_toys">
                        <div class="books-item--wrapper">
                                <img class="books-item--icons" src="img/Versatile_toys-icon.png" alt="lamp-icon" class="books-item--img">
                                <h4 class="books-item--title">Versatile toys</h4>
                                <p class="books-item--text">Our products can be played in<br>
                                    countless unimaginable ways.<br>
                                    We offer your children a world<br>
                                    of creativity in each of our<br>
                                    books.</p>
                        </div>
                    </li>

                </ul>
            </div>
            <img class="quiet_books_bg" src="img/quiet_books_bg.png" alt="quiet_books_bg">
        </div>
    </div>
</div>