<div class="quiet_books">
    <div class="container">
        <div class="quiet_books-inner">
            <div class="quiet_books-descr">
                <h1 class="quiet_books-title">Our Quiet Books </h1>
                <h3 class="quiet_books-text">are developed by child experts to<br>
                    improve your children's fine motor<br>
                    development</h3>
            </div>
            <div class="quiet_books-items">
                <ul class="quiet_books-list">
                    <li class="quiet_books-item">
                        <div class="books-item--wrapper">
                                <img class="books-item--icons" src="img/lamp-icons.png" alt="lamp-icon" class="books-item--img">
                                <h4 class="books-item--title">Learning</h4>
                                <p class="books-item--text">Our pediatrician- <br>
                                    recommended products are a<br>
                                    great way for your children to <br>
                                    learn, enhance their fine motor <br>
                                    skills and develop their<br>
                                    imagination  </p>
                        </div>
                    </li>
                    <li class="quiet_books-item">
                        <div class="books-item--wrapper">
                                <img class="books-item--icons" src="img/lamp-icons.png" alt="lamp-icon" class="books-item--img">
                                <h4 class="books-item--title">Learning</h4>
                                <p class="books-item--text">Our pediatrician- <br>
                                    recommended products are a<br>
                                    great way for your children to <br>
                                    learn, enhance their fine motor <br>
                                    skills and develop their<br>
                                    imagination  </p>
                        </div>
                    </li>
                    <li class="quiet_books-item">
                        <div class="books-item--wrapper">
                                <img class="books-item--icons" src="img/lamp-icons.png" alt="lamp-icon" class="books-item--img">
                                <h4 class="books-item--title">Learning</h4>
                                <p class="books-item--text">Our pediatrician- <br>
                                    recommended products are a<br>
                                    great way for your children to <br>
                                    learn, enhance their fine motor <br>
                                    skills and develop their<br>
                                    imagination  </p>
                        </div>
                    </li>
                    <li class="quiet_books-item">
                        <div class="books-item--wrapper">
                                <img class="books-item--icons" src="img/lamp-icons.png" alt="lamp-icon" class="books-item--img">
                                <h4 class="books-item--title">Learning</h4>
                                <p class="books-item--text">Our pediatrician- <br>
                                    recommended products are a<br>
                                    great way for your children to <br>
                                    learn, enhance their fine motor <br>
                                    skills and develop their<br>
                                    imagination  </p>
                        </div>
                    </li>
                    <li class="quiet_books-item">
                        <div class="books-item--wrapper">
                                <img class="books-item--icons" src="img/lamp-icons.png" alt="lamp-icon" class="books-item--img">
                                <h4 class="books-item--title">Learning</h4>
                                <p class="books-item--text">Our pediatrician- <br>
                                    recommended products are a<br>
                                    great way for your children to <br>
                                    learn, enhance their fine motor <br>
                                    skills and develop their<br>
                                    imagination  </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>