<div class="container">
    <div class="retailer-stores--wrapper">
        <h1 class="retailer-stores-title">Retailer Stores</h1>
<div class="retailer_stores-block--slider">
        <div class="stores-slider-item">
            <div class="stores-inner--item">
                <img src="img/zwergperten_logos_final-02 1.png" alt="zwergperten_logo">
                <img src="img/logo_big_no_zwerg_rotated 1.png" alt="zwerg_logo">
                <img src="img/motchis 1.png" alt="motchis_logo">
                <img src="img/BabyKochs_88m 1.png" alt="BabyKochs_logo">
            </div>
            <div class="stores-inner--item">
                <img class="miniQs" src="img/miniQs 1.png" alt="miniQs_logo">
                <img src="img/babyb 1.png" alt="babyb_logo">
                <img src="img/familientraum 1.png" alt="familientraum_logo">
                <img src="img/korlmayer 1.png" alt="korlmayer_logo">
            </div>
        </div>

        <div class="stores-slider-item">
            <div class="stores-inner--item">
                <img src="img/weserkind_logo_neu 1.png" alt="weserkind_logo">
                <img src="img/nana 1.png" alt="nana 1_logo">
                <img src="img/image 1.png" alt="image 1_logo">
                <img src="img/Meine_Spielzeugkiste 1.png" alt="Meine_Spielzeugkiste 1_logo">
                <img src="img/Logo-Die-Kindersitzprofis 1.png" alt="Logo-Die-Kindersitzprofis 1_logo">
            </div>
            <div class="stores-inner--item">
                <img src="img/burg 1.png" alt="burg 1_logo">
                <img src="img/kanguru 1.png" alt="kanguru 1_logo">
                <img src="img/kiki 1.png" alt="kiki 1_logo">
                <img src="img/AueKind-final-logo-transparent-ohne-Slogan-e1636900003188 1.png" alt="AueKind-final-logo-transparent-ohne-Slogan-e1636900003188 1_logo">
                <img src="img/greenfox 1.png" alt="greenfox 1_logo">
                <img src="img/MiniMe_Logo 1.png" alt="MiniMe_Logo 1_logo">
            </div>
        </div>

        <div class="stores-slider-item">
            <div class="stores-inner--item">
                <img src="img/spiel plus 1.png" alt="spiel plus 1_logo">
                <img src="img/marlons 1.png" alt="marlons 1_logo">
                <img src="img/Logos_Logo_345x102_ECS 1.png" alt="Logos_Logo_345x102_ECS 1_logo">
                <img src="img/image 2.png" alt="image 2_logo">
            </div>
            <div class="stores-inner--item">
                <img src="img/cropped-Trageließchen-2 1.png" alt="cropped-Trageließchen-2 1_logo">
                <img src="img/little1 1.png" alt="little1 1_logo">
                <img src="img/familien-zone 1.png" alt="familien-zone 1_logo">
                <img src="img/pewi 1.png" alt="pewi 1_logo">
                <img src="img/maibee 1.png" alt="maibee 1_logo">
            </div>
        </div>
</div>
    </div>
</div>