<div class="container">
    <div class="retailer-stores--wrapper">
        <h1 class="retailer-stores-title">Retailer Stores</h1>

        <div class="stores-inner">
            <div class="stores-inner--item">
                <img src="img/zwergperten_logos_final-02 1.png" alt="zwergperten_logo">
                <img src="img/logo_big_no_zwerg_rotated 1.png" alt="zwerg_logo">
                <img src="img/motchis 1.png" alt="motchis_logo">
                <img src="img/BabyKochs_88m 1.png" alt="BabyKochs_logo">
            </div>
            <div class="stores-inner--item">
                <img class="miniQs" src="img/miniQs 1.png" alt="miniQs_logo">
                <img src="img/babyb 1.png" alt="babyb_logo">
                <img src="img/familientraum 1.png" alt="familientraum_logo">
                <img src="img/korlmayer 1.png" alt="korlmayer_logo">
            </div>
        </div>

        <div class="stores-inner">
            <div class="stores-inner--item">
                <img src="img/zwergperten_logos_final-02 1.png" alt="zwergperten_logo">
                <img src="img/logo_big_no_zwerg_rotated 1.png" alt="zwerg_logo">
                <img src="img/motchis 1.png" alt="motchis_logo">
                <img src="img/BabyKochs_88m 1.png" alt="BabyKochs_logo">
            </div>
            <div class="stores-inner--item">
                <img class="miniQs" src="img/miniQs 1.png" alt="miniQs_logo">
                <img src="img/babyb 1.png" alt="babyb_logo">
                <img src="img/familientraum 1.png" alt="familientraum_logo">
                <img src="img/korlmayer 1.png" alt="korlmayer_logo">
            </div>
        </div>

        <div class="stores-inner">
            <div class="stores-inner--item">
                <img src="img/zwergperten_logos_final-02 1.png" alt="zwergperten_logo">
                <img src="img/logo_big_no_zwerg_rotated 1.png" alt="zwerg_logo">
                <img src="img/motchis 1.png" alt="motchis_logo">
                <img src="img/BabyKochs_88m 1.png" alt="BabyKochs_logo">
            </div>
            <div class="stores-inner--item">
                <img class="miniQs" src="img/miniQs 1.png" alt="miniQs_logo">
                <img src="img/babyb 1.png" alt="babyb_logo">
                <img src="img/familientraum 1.png" alt="familientraum_logo">
                <img src="img/korlmayer 1.png" alt="korlmayer_logo">
            </div>
        </div>

    </div>
</div>