<div class="review">
  <div class="review-slider">
    <div class="review-item review-left-item">
      <div class="review-item--inner">
        <img class="review-main--picture" src="img/review-left-item.png" alt="left-item">
        <span class="review-sub-title review-left-sub-title">The Favorite Over Partners
        </span>
        <img class="review-stars review-stars--left" src="img/stars-left.png" alt="stars">
        <h2 class="review-title review-title--left">Angelina Bork</h2>
        <p class="review-text review-text-left">Brings' color in the children's room but also ideally suited for the
          living room or bedroom. With our hand-woven wall rug, the home becomes even more of a feel-good oasis.</p>

      </div>
    </div>
    <div class="review-item review-right-item">
      <div class="review-item--inner">
        <img class="review-main--picture" src="img/review-right-item.png" alt="right-item">
        <span class="review-sub-title review-right-sub-title">The Favorite Over Partners
        </span>
        <img class="review-stars review-stars--right" src="img/stars-right.png" alt="stars">
        <h2 class="review-title review-title--right">Monica Rendel</h2>
        <p class="review-text review-text-right">Brings' color in the children's room but also ideally suited for the
          living room or bedroom. With our hand-woven wall rug, the home becomes even more of a feel-good oasis.</p>
      </div>
    </div>
    <div class="review-item review-left-item">
      <div class="review-item--inner">
        <img class="review-main--picture" src="img/review-left-item.png" alt="left-item">
        <span class="review-sub-title review-left-sub-title">The Favorite Over Partners
        </span>
        <img class="review-stars review-stars--left" src="img/stars-left.png" alt="stars">
        <h2 class="review-title review-title--left">Angelina Bork</h2>
        <p class="review-text review-text-left">Brings' color in the children's room but also ideally suited for the
          living room or bedroom. With our hand-woven wall rug, the home becomes even more of a feel-good oasis.</p>
      
      </div>
    </div>
    <div class="review-item review-right-item">
      <div class="review-item--inner">
        <img class="review-main--picture" src="img/review-right-item.png" alt="right-item">
        <span class="review-sub-title review-right-sub-title">The Favorite Over Partners
        </span>
        <img class="review-stars review-stars--right" src="img/stars-right.png" alt="stars">
        <h2 class="review-title review-title--right">Monica Rendel</h2>
        <p class="review-text review-text-right">Brings' color in the children's room but also ideally suited for the
          living room or bedroom. With our hand-woven wall rug, the home becomes even more of a feel-good oasis.</p>
      </div>
    </div>
  </div>



</div>