
	<div class="subheader">
		<div class="container">
			<div class="subheader-slider">
				<div class="subheader-slider--item">
					<a class="slider-inner" href="#">
						<span class="icon-icon-car"></span>
						<span class="subheader-item--text">Free shipping from 60€ (DE)</span>
					</a>
				</div>
				<div class="subheader-slider--item">
					<a class="slider-inner " href="#">
						<span class="icon-icon-hand-made"></span>
						<span class="subheader-item--text">High quality hand-mand & ethical products</span>
					</a>
				</div>
				<div class="subheader-slider--item">
					<a class="slider-inner" href="#">
						<span class="icon-icon-guarantee"></span>
						<span class="subheader-item--text">6 Months guarantee</span>
					</a>

				</div>


				<div class="subheader-slider--item">
					<a class="slider-inner" href="#">
						<span class="icon-icon-heart"></span>
						<span class="subheader-item--text">The favourite of XXXX partners</span>
					</a>
				</div>
				<div class="subheader-slider--item">
					<a class="slider-inner " href="#">
						<span class="icon-icon-germany"> </span>
						<span class="subheader-item--text">Made in Germany</span>
					</a>
				</div>
				<div class="subheader-slider--item">
					<a class="slider-inner" href="#">
						<span class="icon-icon-replacement"></span>
						<span class="subheader-item--text">Free parts replacement service</span>
					</a>
				</div>


			</div>
		</div>
	</div>
