@media screen and (max-width: 1199px){
.subheader-slider  {
  margin: 0 4%;
}
.header--1400 {
  display: none;
}
.header--768 {
  display: block;
  
}
}
@media screen and (max-width: 991px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 360px){
  .subheader-slider  {
    margin: 0 2%;
  }
  .subheader-item--text {
    font-size: 12px;
  }
}